/* Declarações Padrões */
$background-call-to-action: #d32127;
$cor-text-call-to-action: rgb(255,255,255);
$font-padrao: Proxima-Nova;
@font-face{
	font-family: Proxima-Nova;
	src: url(proximaNova.otf);
}

/* Mini CSS Reset */
*{
	margin: 0 auto; 
	text-decoration: none; 
	list-style: none; 
	padding: 0; 
	font-family: 
	$font-padrao;
	text-align: center;
}

/* Declarações Gerais */
body, header, footer{
	width: 100%;
}
.call-to-action{
	background: $background-call-to-action;
	font-size: 60px;
	font-family: $font-padrao;
	font-weight: bold;
	color: $cor-text-call-to-action;	
	letter-spacing: -1px;
	line-height: 121px;
	padding: 30px 100px 20px 100px;
}
h2{
	font-size: 34px;
	letter-spacing: -1px;
	line-height: 55px;
	color: rgb(60,60,59);
	font-weight: bold;
	padding-bottom: 26px;
}
h3{
	color: rgb(51,51,51);
}
header{
	height: 50px;
	background: #c00e04;
	.menu{
		width: 20px;
		background: black;
		display: inline-block;
		.menu-burger, .menu-burger:after, .menu-burger:before{
			position: absolute;
			width: 20px;
			height: 2px;
			background: #fff;
			border-radius: 0;
			left: 0;
			display: inline-block;
		}
		.menu-burger{ 
			top: 4%;
		}
		.menu-burger:after, .menu-burger:before{
			content: "";
		}
		.menu-burger:before{
			margin-top: 5px;
		}
		.menu-burger:after{
			margin-top: 10px;
		}
	}
	.logo{
		position: absolute;
		width: 160px;	
		line-height: 57px;
		top: 0;
		left: 50%;	
		margin-left: -80px;
	}
}
article{
	float: left;
	width: 98%;
	margin-top: 40px;
	p{
		width: 528px;
		font-size: 30px;
		line-height: 40px;
	}
}
.banner{
	h3, p{
		font-size: 21px;
		line-height: 24px;
	}	
	p{
		font-weight: bold;
		color: $background-call-to-action;
	}
}
.parceiros{
	float: left;
	width: 100%;
	background: #f3f3f3;
	margin-top: 60px;
	h4{
		font-size: 15.5px;
	}
	.operadoras-parceiras{
		margin-top: 45px;	
	}
}
.container-evento{
	float: left;
	width: 70%;
	margin-left: 15%;
	h2{
		margin-top: 45px;
	}
}









.container-slider{
	float: left;
	width: 70%;
	max-height: 590px;
	margin-left: 15%;
	.call-to-action{
		position: absolute;
		font-size: 26px;
		line-height: 0;
		padding: 27px 65px 27px 65px;
		margin: 265px 0 0 30px;
	}
}
.slick-slider{
	max-width: 100%;
}

.slick-slider img{
	max-width: 100%;
	height: 400px;
	margin-top: -33px;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
	h3{
		margin-top: 63px;
	}
	h3, p{
		font-size: 30px;
		color: #fff;
	}
	h4{
		font-size: 24px;
		color: #ffc617;
		margin-top: 114px;
	}
	h3, h4, p{
		position: absolute;
		width: 265px;
		text-align: left;
		line-height: 30px;
		font-weight: bold;
		margin-left: 200px;
	}
	p{
		margin-top: 125px;
	}
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-dots{ 
	position: absolute;
	margin-top: -37px;
    left: 50%;
	li{
		display: inline;
		margin-left: 5px;
		button{
			width: 8px;
			height: 8px;
			background: #ccc;
			font-size: 0;
			border: none;
			border-radius: 50px;
			cursor: pointer;
		}
	}
	li:first-child{
		margin-left: 0;
	}
	li.slick-active{
		button{
			background: #d31b02;
		}
	}
}









@media only screen and (max-width: 600px) {
	#app{
		overflow: auto;
	}
	.container-slider{
		width: 100%;
		margin-left: 0;
		.slick-list{
		width: 100%;
		}
		img{
			height: auto;
		}
	}
	
	h2{
		font-size: 32px;
		line-height: 34px;
		padding-bottom: 28px;
	}
	article{ 
		p{
			width: 89%;
			font-size: 18px;
			line-height: 25px;
		}
	}
	.call-to-action{
		font-size: 38px;
		padding: 20px 50px 15px 50px;
	}
	.banner{
		width: 90%;
		margin-top: 40px;
		img{
			float: left;
			max-width: 100%;
			padding-bottom: 12px;
		}
	}
}
